primary-color #4099ff
secondary-color tomato
outline-color #bbb

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  text-align: center;
  padding: 2rem;
}

.container {
  width: 60vw;
  margin: 5rem auto;
}

#listInput, 
button {
  border-radius: 3px;
}

#listInput,
#listForm button {
  width: 100%;
  margin-bottom: .5rem;
  padding: 1rem;
}

#listInput {
  border: 1px solid outline-color;
  transition: .3s box-shadow;
}

#listInput:focus {
  outline: none;
  border: 1px solid primary-color;
  box-shadow: 0 0 5px 1px primary-color;
}

button {
  cursor: pointer;
}

#list {
  padding-top: 1.3rem;
  margin: 0 auto;
}

#buttonContainer {
  margin-top: .7rem;
}

#listForm button,
#delete,
#edit {
  border: none;
  color: #fff;
}

#listForm button,
#edit {
  background: primary-color;
}

#delete {
  background: secondary-color;
}

li {
  width: 100%;
  list-style: none;
}

li span {
  display: inline-block;
  width: 90%;
}

#editInput {
  width: 90%;
  padding: .7rem;
}

li,
#delete,
#edit {
  padding: .7rem;
}

li input,
#delete {
  margin-right: .3rem;
}

.completed {
  color: outline-color;
  position: relative;
  text-decoration: line-through;
}
